:root {
  --Dark-Violet: hsl(256, 26%, 20%);
  --Grayish-Blue: hsl(216, 30%, 68%);
  --Very-Dark-Violet: hsl(270, 9%, 17%);
  --Dark-Grayish-Violet: hsl(273, 4%, 51%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --font-header: 'DM Serif Display';
  --font-body: 'Karla'
}

body {
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 7px;
  background-color: var(--Dark-Blue);
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(var(--Dark-Violet), var(--Grayish-Blue));
  border-radius: 7px;
}

body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width:360px) {

  body {
    height: 100vh;
  }

  .header {
    margin-top: -15px;
    width: 100%;
    /* border-radius: 10px; */
    color: var(--Dark-Blue);
    background-image: url('/images/image-intro-mobile.jpg');
    background-position: 0 50px;
    background-repeat: no-repeat;
  }

  .navbar {
    width: 640px;
    height: 450px;
    background-color: var(--Very-Dark-Violet);
    color: var(--Very-Light-Gray);
    font-weight: 700;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }

  .active {
    transform: translateX(0%);
  }

  .back {
    height: 50%;
    background: url('/images/bg-pattern-mobile-nav.svg');
    background-repeat: no-repeat;
    background-position: 0 25px;
  }

  .navItem {
    width: 100%;
    font-size: 1.2rem;
    margin-left: 20%;
    line-height: 3rem;

  }

  .logo .ham {
    cursor: pointer;
  }

  .navButton {
    margin-top: 10px;
    outline: 0;
    padding: 1rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid var(--Very-Light-Gray);
    width: 300px;
    margin-left: 5%;
  }

  .logo {
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .mainContent {
    margin-top: -28px;
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    height: 400px;
    text-align: center;
    position: relative;
    z-index: 20;
  }
  .cont-1{
    height: 100%;
    background: url('/images/bg-pattern-intro-left-mobile.svg'),
                url('/images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    background-position: top left, bottom right;
  }

  .mainContent .title {
    font-size: 2rem;
    font-weight: 700;
    height: 33.3%;
  }

  .mainContent .description {
    margin-top: -20px;
    height: 33.3%;
  }


  .plans {
    font-size: 1.2rem;
    outline: 0;
    padding: 1rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid var(--Very-Light-Gray);
    width: 200px;
  }

  .plain .subtitle {
    margin-top: 40px;
    padding: 0;
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--Dark-Violet);
    text-align: center;
  }

  .card {
    background-color: var(--Very-Light-Gray);
    text-align: center;
    height: 250px;
  }

  .card h3 {
    color: var(--Dark-Violet);
    font-size: 1.5rem;
  }

  .card p {
    color: var(--Dark-Grayish-Violet);
  }

  .find {
    background-color: var(--Dark-Violet);
    color: var(--Very-Light-Gray);
    height: 350px;
    text-align: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .cont {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url('/images/bg-pattern-intro-right-mobile.svg');
    background-repeat: no-repeat;
    background-position: top right;
  }

  .findSub {
    font-size: 2rem;
    font-weight: 700;
    width: 70%;
  }

  .Button-find {
    margin-top: 10px;
    outline: 0;
    padding: 1rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid var(--Very-Light-Gray);
    width: 180px;
    font-size: 1.2rem;
  }
  .social{
    margin-top: 40px;
    background-color: var(--Very-Light-Gray);
    height: 200px;
    text-align: center;
    color: var(--Dark-Violet);
    border-bottom: 1px solid #ccc;
  }
  .cont-3{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: url('/images/bg-pattern-footer-mobile.svg');
    background-repeat:  no-repeat;
    background-position: top center;
  }
  .social h2{
    font-size: 2rem;
    font-weight: 700;
  }
  .footer{
    margin-top: -20px;
    background-color: var(--Very-Light-Gray);
    text-align: center;
  }
  .footer h3{
    color: var(--Dark-Grayish-Violet);
  }
  .footer li{
    color: var(--Dark-Violet);
    font-weight: 400;
  }
}